
	<link rel="stylesheet" href="../css/rim.css">
	<div class="wrap" gong-page>
		<header class="header">
			<h1>排行榜</h1>
			<span ui-sref="index"></span>
		</header>
		<nav class="arrange_nav">
			<ul>
				<li class="arrange_on">景点</li>
				<li>酒+景</li>
				<li>跟团游</li>
				<li>国内游</li>
				<li>出境</li>
			</ul>
		</nav>
		<main class="main"><div class="arrange">
			<section class="rim_section" id="home" page-iscroll><div class="rim_sc">
				<div class="arrange_ban">
					<img src="../img/arrange.png">
				</div>
				<dl class="rim_box">
					<dt><img src="../img/arrange1.png"></dt>
					<dd>
						<h1>北京欢乐谷</h1>
						<h2><b>￥165</b>起</h2>
						<p>来欢乐谷，激情狂欢</p>
						<span>赏花</span>
					</dd>
				</dl>
				<dl class="rim_box">
					<dt><img src="../img/arrange2.png"></dt>
					<dd>
						<h1>十三陵</h1>
						<h2><b>￥123</b>起</h2>
						<p>来欢乐谷，激情狂欢</p>
						<span>赏花</span>
					</dd>
				</dl>
				<dl class="rim_box">
					<dt><img src="../img/arrange3.png"></dt>
					<dd>
						<h1>世界花卉大观园</h1>
						<h2><b>￥17</b>起</h2>
						<p>来欢乐谷，激情狂欢</p>
						<span>赏花</span>
					</dd>
				</dl>
				<dl class="rim_box">
					<dt><img src="../img/arrange4.png"></dt>
					<dd>
						<h1>香山公园</h1>
						<h2><b>￥10</b>起</h2>
						<p>来欢乐谷，激情狂欢</p>
						<span>赏花</span>
					</dd>
				</dl>
				<dl class="rim_box">
					<dt><img src="../img/arrange1.png"></dt>
					<dd>
						<h1>香山公园</h1>
						<h2><b>￥10</b>起</h2>
						<p>来欢乐谷，激情狂欢</p>
						<span>赏花</span>
					</dd>
				</dl>
			</div></section>
			<section class="rim_section">酒+景</section>
			<section class="rim_section">跟团游</section>
			<section class="rim_section">国内游</section>
			<section class="rim_section">出境</section>
		</div></main>
	</div>