
	<link rel="stylesheet" href="../css/swiper.min.css">
	<link rel="stylesheet" href="../css/rim.css">
	<div class="wrap">
		<header class="header">
			<h1>旅游百科</h1>
			<span ui-sref="user"></span>
		</header>
		<main class="main" id="home" page-iscroll baike-page><div class="sc">
			<div id="banner" class="swiper-container" swiper-page>
			        <ul class="swiper-wrapper">                                 
			            <li class="swiper-slide">
			                <a href="#" ><img src="../img/baike1.png"/></a>
			            </li>
			            <li class="swiper-slide">
			                <a href="#" ><img src="../img/baike1.png"/></a>
			            </li>
			            <li class="swiper-slide">
			                <a href="#" ><img src="../img/baike1.png"/></a>
			            </li>
			        </ul>
			        <div class="swiper-pagination" id="niu"></div>
			  </div>

			  <h1 class="baike_tit">2016-10-11 星期三</h1>
			<dl class="baike_box">
				<dd>今年最后一次错峰旅游的好机会，去这些 地方就对了</dd>
				<dt><img src="../img/baike01.png"></dt>
			</dl>
			<dl class="baike_box">
				<dd> 带其爱人去这里，TA会说no就见鬼了</dd>
				<dt><img src="../img/baike02.png"></dt>
			</dl>
			<dl class="baike_box">
				<dd>今年最后一次错峰旅游的好机会，去这些 地方就对了</dd>
				<dt><img src="../img/baike03.png"></dt>
			</dl>
			<dl class="baike_box">
				<dd> 带其爱人去这里，TA会说no就见鬼了 拷贝</dd>
				<dt><img src="../img/baike04.png"></dt>
			</dl>

		</div></main>
	</div>