
	<link rel="stylesheet" href="../css/china.css">
	<header class="header">
		<h1>北京出发</h1>
		<span ui-sref="index"></span>
	</header>
	<div class="top">
			<input type="text" placeholder="景点、城市名、关键词">
		</div>
	<main class="main" id="home" page-iscroll china-page><div class="sc">
		
		<div class="ban">
			<img src="../img/ch_bg.png">
		</div>
		<div class="city">
			<h1>热门目的地</h1>
			<ul>
				<li>丽江</li>
				<li>三亚</li>
				<li class="on">厦门</li>
				<li>华东</li>
				<li>桂林</li>
				<li>九寨沟</li>
				<li>张家界</li>
				<li>贵州</li>
				<li>青岛</li>
				<li>西藏</li>
				<li>北京</li>
				<li class="more">更多</li>
			</ul>
		</div>
		<div class="time">
			<h1>限时抢购</h1>
			<div class="pic">
				<dl>
					<dt><img src="../img/p1.png"></dt>
					<dd>浪漫巴黎+美丽夜景</dd>
				</dl>
				<dl>
					<dt><img src="../img/p2.png"></dt>
					<dd>浪漫巴黎+美丽夜景</dd>
				</dl>
				<dl>
					<dt><img src="../img/p3.png"></dt>
					<dd>浪漫巴黎+美丽夜景</dd>
				</dl>
				<dl>
					<dt><img src="../img/p4.png"></dt>
					<dd>浪漫巴黎+美丽夜景</dd>
				</dl>
			</div>
		</div>
	</div></main>