
	<link rel="stylesheet" href="../css/swiper.min.css">
	<link rel="stylesheet" href="../css/destination.css">
	<div class="wrap">
		<header class="header">
			<input type="text" placeholder="搜索你想去的目的地">
		</header>
		<main class="main" des-page>
			<div class="left" id="home" page-iscroll>
				<ul class="list">
					<li class="on"><a href="#a">热门</a></li>
					<li><a href="#b">五一去哪</a></li>
					<li><a href="#c">周边</a></li>
					<li><a href="#d">江浙沪</a></li>
					<li><a href="#e">广东海南</a></li>
					<li><a href="#f">全国</a></li>
					<li><a href="#g">日韩</a></li>
					<li><a href="#h">东南亚</a></li>
					<li><a href="#i">海岛</a></li>
					<li><a href="#j">佛罗伦萨</a></li>
					<li><a href="#k">墨尔本</a></li>
					<li><a href="#l">伦敦</a></li>
				</ul>
			</div>
			<div class="right">
				<section id="a"><div class="sc">
					<div class="pic">
						<img src="../img/des1.png">
					</div>
					<h1 class="tit">境内热门榜单</h1>
					<div class="con">
						<img src="../img/des2.png">
						<h2><span>人气值: </span><div class="ht"></div></h2>
						<p>上榜理由：一个适合自己放假旅游的地方</p>
					</div>
					<div class="con">
						<img src="../img/des3.png">
						<h2><span>人气值: </span><div class="ht"></div></h2>
						<p>上榜理由：一个适合自己放假旅游的地方</p>
					</div>
					<div class="con">
						<img src="../img/des2.png">
						<h2><span>人气值: </span><div class="ht"></div></h2>
						<p>上榜理由：一个适合自己放假旅游的地方</p>
					</div>

					</div></section>
				<section id="b"><div class="sc">
					<div class="pic">
						<img src="../img/W1.png">
					</div>
					<h1 class="tit">小长假拒绝宅，哪怕周边转一转</h1>
					<div class="con">
						<img src="../img/W2.png">
						<h2><span>人气值: </span><div class="ht"></div></h2>
						<p>上榜理由：一个适合自己放假旅游的地方</p>
					</div>
					<div class="con">
						<img src="../img/W3.png">
						<h2><span>人气值: </span><div class="ht"></div></h2>
						<p>上榜理由：一个适合自己放假旅游的地方</p>
					</div>
					<div class="con">
						<img src="../img/des2.png">
						<h2><span>人气值: </span><div class="ht"></div></h2>
						<p>上榜理由：一个适合自己放假旅游的地方</p>
					</div>
					</div></section>
				<section id="c"><div class="sc"></div></section>
				<section id="d"><div class="sc"></div></section>
				<section id="e"><div class="sc"></div></section>
				<section id="f"><div class="sc">
					<div class="pic">
						<img src="../img/q1.png">
					</div>
					<h1 class="tit">美不胜收，不在身边即在远方</h1>
					<div class="count">
						<dl ui-sref="des_detail">
							<dt><img src="../img/q2.png"></dt>
							<dd>
								<h1>当季的最好哈哈哈哈</h1>
								<span>瀑布</span>
							</dd>
						</dl>
						<dl>
							<dt><img src="../img/q3.png"></dt>
							<dd>
								<h1>文艺躁最好哈哈哈哈</h1>
								<span>文艺</span>
							</dd>
						</dl>
						<dl>
							<dt><img src="../img/q4.png"></dt>
							<dd>
								<h1>当季的最好哈哈哈哈</h1>
								<span>瀑布</span>
							</dd>
						</dl>
						<dl>
							<dt><img src="../img/q5.png"></dt>
							<dd>
								<h1>当季的最好哈哈哈哈</h1>
								<span>瀑布</span>
							</dd>
						</dl>
					</div>
					<h1 class="tit">城市味道，走走停停去寻找</h1>
					<div class="count">
						<dl>
							<dt><img src="../img/q6.png"></dt>
							<dd>
								<h1>当季的最好哈哈哈哈</h1>
								<span>瀑布</span>
							</dd>
						</dl>
						<dl>
							<dt><img src="../img/q7.png"></dt>
							<dd>
								<h1>文艺躁最好哈哈哈哈</h1>
								<span>文艺</span>
							</dd>
						</dl>
					</div>
					</div></section>
				<section id="g"><div class="sc"></div></section>
				<section id="h"><div class="sc"></div></section>
				<section id="i"><div class="sc"></div></section>
				<section id="j"><div class="sc"></div></section>
				<section id="k"><div class="sc"></div></section>
				<section id="l"><div class="sc"></div></section>
			</div>
		</main>
		<footer class="footer">
			<a ui-sref="index">首页</a>
			<a ui-sref="destination" class="on">目的地</a>
			<a ui-sref="find">发现</a>
			<a ui-sref="user">我的</a>
		</footer>
	</div>
