
	<link rel="stylesheet" href="../css/swiper.min.css">
	<link rel="stylesheet" href="../css/find.css">

	<div class="wrap">
		<header class="header">
			<h1>北京</h1>
		</header>
		<main class="main" id="home" page-iscroll>
			<div class="sc">
				<div id="banner" class="swiper-container">
			        <ul class="swiper-wrapper">                                 
			            <li class="swiper-slide">
			                <a href="#" ><img src="../img/f1.png"/></a>
			            </li>
			            <li class="swiper-slide">
			                <a href="#" ><img src="../img/f2.png"/></a>
			            </li>
			            <li class="swiper-slide">
			                <a href="#" ><img src="../img/f3.png"/></a>
			            </li>
			            <li class="swiper-slide">
			                <a href="#" ><img src="../img/f4.png"/></a>
			            </li>
			        </ul>
			        <div class="swiper-pagination" id="niu"></div>
			    </div>
				<div class="look" id="tuijian" ui-sref="tuijian">
					<h1>查看精选推荐</h1>
					<p>看看都有什么好玩的</p>
				</div>
				<div class="con">
					<div class="look hoot" ui-sref="hot">
						<h1>热门玩法</h1>
						<p>怎么玩看这里</p>
					</div>
					<div class="pic"><img src="../img/co1.png"></div>
					<div class="pic"><img src="../img/co2.png"></div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<a ui-sref="index">首页</a>
			<a ui-sref="destination">目的地</a>
			<a ui-sref="find" class="on">发现</a>
			<a ui-sref="user">我的</a>
		</footer>
	</div>
