
	<link rel="stylesheet" href="../css/foot.css">
	<div class="wrap">
		<header class="header">
			<h1>自制营养餐</h1>
			<span ui-sref="foot"></span>
		</header>
		<main class="main" id="home" food-det page-iscroll><div class="sc">
			<div class="top">
				<div class="ban"><img src="../img/bbb.png"></div>
				<h1>豪华减肥午餐<p>好评率：100%</p></h1>
				<div class="pj">
					<p>难度:<span class="on"></span><span></span><span></span></p>
					<p>营养价值:<span class="on"></span><span class="on"></span><span class="on"></span></p>
					<p>用时:<span></span><span></span><span></span></p>
				</div>
				<div class="yh">
					<dl>
						<dt><img src="../img/f_user.png"></dt>
						<dd>小薇啊南京市拿放大镜烦恼</dd>
					</dl>
					<dl>
						<dt><img src="../img/f_uuu.png"><img src="../img/f_uuu.png"><img src="../img/f_uuu.png"></dt>
						<dd>等62人做过</dd>
					</dl>
				</div>
			</div>

			<nav class="lis">
				<ul>
					<li>食谱</li>
					<li class="bg">详情</li>
					<li>评论</li>
				</ul>
			</nav>
			<div class="box">
				<section>食谱</section>
				<section>
					<h1>爱吃又爱美的朋友们，福利来了 </h1>
					<p>由营养师和健身教练亲历推荐的豪华减肥餐午餐，主食主要是牛肉和鸡胸肉等这些能量高但是脂肪含量低的肉类，满足一天所需营养，辅食是玉米、西蓝花紫甘蓝、圣女果等富含丰富维生素的蔬菜。若要瘦身，你所需要做的就是控制饮食量，所以不能贪吃哦，搭配运动效果会更佳呢...</p>
					<div class="picc">
						<img src="../img/food_pic.png">
						<img src="../img/food_pic.png">
					</div>
				</section>
				<section>评论</section>
			</div>
		</div></main>
		<footer class="footer">
			<ul>
				<li>评论</li>
				<li>上传作品</li>
				<li>收藏</li>
			</ul>
		</footer>
	</div>