
	<link rel="stylesheet" href="../css/foot.css">
	<div class="wrap">
		<header class="header">
			<h1>美食</h1>
			<span ui-sref="index"></span>
		</header>
		<main class="main" id="home" page-iscroll><div class="sc">
			<div class="con">
				<div>
					<dl ui-sref="food_det">
						<dt><img src="../img/foot1.png"></dt>
						<dd>
							<h1>自制营养餐</h1>
							<p>吃货首选，口味非常棒棒棒棒</p>
							<span></span>
						</dd>
					</dl>
					<dl>
						<dt><img src="../img/foot2.png"></dt>
						<dd>
							<h1>自制营养餐</h1>
							<p>吃货首选，口味非常棒棒棒棒</p>
							<span></span>
						</dd>
					</dl>
					<dl>
						<dt><img src="../img/foot1.png"></dt>
						<dd>
							<h1>自制营养餐</h1>
							<p>吃货首选，口味非常棒棒棒棒</p>
							<span></span>
						</dd>
					</dl>
					<dl>
						<dt><img src="../img/foot2.png"></dt>
						<dd>
							<h1>自制营养餐</h1>
							<p>吃货首选，口味非常棒棒棒棒</p>
							<span></span>
						</dd>
					</dl>
				</div>
				<div>
					<dl>
						<dt><img src="../img/foot4.png"></dt>
						<dd>
							<h1>自制营养餐</h1>
							<p>吃货首选，口味非常棒棒棒棒</p>
							<span></span>
						</dd>
					</dl>
					<dl>
						<dt><img src="../img/foot5.png"></dt>
						<dd>
							<h1>自制营养餐</h1>
							<p>吃货首选，口味非常棒棒棒棒</p>
							<span></span>
						</dd>
					</dl>
					<dl>
						<dt><img src="../img/foot4.png"></dt>
						<dd>
							<h1>自制营养餐</h1>
							<p>吃货首选，口味非常棒棒棒棒</p>
							<span></span>
						</dd>
					</dl>
				</div>
				
			</div>
		</div></main>
	</div>