
	<link rel="stylesheet" href="../css/rim.css">
	<div class="wrap" gong-page>
		<header class="header">
			<h1>热门玩法</h1>
			<span ui-sref="find"></span>
		</header>
		<nav class="arrange_nav">
			<ul>
				<li class="arrange_on">精选</li>
				<li>好友结伴</li>
				<li>自然风光</li>
			</ul>
		</nav>
		<main class="main"><div class="arrange">
			<section class="rim_section hot1" id="home" page-iscroll><div class="rim_sc">
				<div class="hot_ban"><img src="../img/hotban.png"></div>
				<div class="hot_ban"><img src="../img/hotban2.png"></div>
				<div class="hot_ban"><img src="../img/hotban3.png"></div>
				<div class="hot_ban"><img src="../img/hotban.png"></div>
				<div class="hot_ban"><img src="../img/hotban2.png"></div>
			</div></section>
			<section class="rim_section">好友结伴</section>
			<section class="rim_section">自然风光</section>
		</div></main>
	</div>