
	<link rel="stylesheet" href="../css/rim.css">
	<div class="wrap">
		<header class="header">
			<h1>我的钱包</h1>
			<span ui-sref="user"></span>
			<span class="sz">设置</span>
		</header>
		<main class="main" id="home" page-iscroll><div class="money">
			<dl class="money_top">
				<dt><img src="../img/n6.png"></dt>
				<dd>
					<h1>足记宝</h1>
					<p>安全、高收益的活期理财</p>
				</dd>
			</dl>
			<div class="money_box">
				<dl>
					<dt><img src="../img/money1.png"></dt>
					<dd>
						<h1>足记白条</h1>
						<p>激活有奖</p>
					</dd>
				</dl>
				<dl>
					<dt><img src="../img/money2.png"></dt>
					<dd>
						<h1>红包</h1>
						<p>0个</p>
					</dd>
				</dl>
				<dl>
					<dt><img src="../img/money3.png"></dt>
					<dd>
						<h1>奖金</h1>
						<p>￥0</p>
					</dd>
				</dl>
				<dl>
					<dt><img src="../img/money4.png"></dt>
					<dd>
						<h1>立返</h1>
						<p>￥0</p>
					</dd>
				</dl>
				<dl>
					<dt><img src="../img/money5.png"></dt>
					<dd>
						<h1>电子票</h1>
						<p>0张</p>
					</dd>
				</dl>
				<dl>
					<dt><img src="../img/money6.png"></dt>
					<dd>
						<h1>1元特权卡</h1>
						<p>0张</p>
					</dd>
				</dl>
				<dl>
					<dt><img src="../img/money7.png"></dt>
					<dd>
						<h1>足记旅游卡</h1>
						<p>0张</p>
					</dd>
				</dl>
				<dl>
					<dt><img src="../img/money8.png"></dt>
					<dd>
						<h1>福利券</h1>
						<p>0张</p>
					</dd>
				</dl>
			</div>
		</div></main>
	</div>