
	<link rel="stylesheet" href="../css/rim.css">
	<div class="wrap">
		<header class="header">
			<h1>京城游</h1>
			<span ui-sref="index"></span>
		</header>
		<nav class="rim_nav">
			<ul>
				<li class="rim_on">门票</li>
				<li>酒店</li>
				<li>欢乐</li>
				<li>电影院</li>
			</ul>
			<h1>当前：北京市海淀区唐家岭东路靠近北京八维研修学院<span></span></h1>
		</nav>
		<main class="main arrange_main" >
			<section class="rim_section" id="home" page-iscroll rim-page><div class="rim_sc">
				<dl class="rim_box">
					<dt><img src="../img/rim1.png"></dt>
					<dd>
						<h1>北京欢乐谷</h1>
						<h2><b>￥165</b>起</h2>
						<p>来欢乐谷，激情狂欢</p>
						<span>赏花</span>
					</dd>
				</dl>
				<dl class="rim_box">
					<dt><img src="../img/rim2.png"></dt>
					<dd>
						<h1>十三陵</h1>
						<h2><b>￥123</b>起</h2>
						<p>来欢乐谷，激情狂欢</p>
						<span>赏花</span>
					</dd>
				</dl>
				<dl class="rim_box">
					<dt><img src="../img/rim3.png"></dt>
					<dd>
						<h1>世界花卉大观园</h1>
						<h2><b>￥17</b>起</h2>
						<p>来欢乐谷，激情狂欢</p>
						<span>赏花</span>
					</dd>
				</dl>
				<dl class="rim_box">
					<dt><img src="../img/rim4.png"></dt>
					<dd>
						<h1>香山公园</h1>
						<h2><b>￥10</b>起</h2>
						<p>来欢乐谷，激情狂欢</p>
						<span>赏花</span>
					</dd>
				</dl>
				<dl class="rim_box">
					<dt><img src="../img/rim5.png"></dt>
					<dd>
						<h1>香山公园</h1>
						<h2><b>￥10</b>起</h2>
						<p>来欢乐谷，激情狂欢</p>
						<span>赏花</span>
					</dd>
				</dl>
			</div></section>
			<section class="rim_section">酒店</section>
			<section class="rim_section">欢乐</section>
			<section class="rim_section">电影票</section>
		</main>
	</div>