
	<link rel="stylesheet" href="../css/rim.css">
	<div class="wrap" gong-page>
		<header class="header">
			<h1>精选推荐</h1>
			<span ui-sref="find"></span>
		</header>
		<nav class="arrange_nav">
			<ul>
				<li class="arrange_on">快乐周末</li>
				<li>快乐短途</li>
				<li>快乐长假</li>
			</ul>
		</nav>
		<main class="main"><div class="arrange">
			<section class="rim_section" id="home" page-iscroll><div class="rim_sc">
				<dl class="tuijian">
					<dt><img src="../img/tuijian1.png"></dt>
					<dd>
						<h1>泡大午温泉，享休闲时光</h1>
						<p>来欢乐谷，激情狂欢</p>
						<h2>￥165</h2>
					</dd>
				</dl>
				<dl class="tuijian">
					<dt><img src="../img/tuijian2.png"></dt>
					<dd>
						<h1>泡大午温泉，享休闲时光</h1>
						<p>来欢乐谷，激情狂欢</p>
						<h2>￥165</h2>
					</dd>
				</dl>
				<dl class="tuijian">
					<dt><img src="../img/tuijian3.png"></dt>
					<dd>
						<h1>泡大午温泉，享休闲时光</h1>
						<p>来欢乐谷，激情狂欢</p>
						<h2>￥165</h2>
					</dd>
				</dl>
				<dl class="tuijian">
					<dt><img src="../img/tuijian4.png"></dt>
					<dd>
						<h1>泡大午温泉，享休闲时光</h1>
						<p>来欢乐谷，激情狂欢</p>
						<h2>￥165</h2>
					</dd>
				</dl>
				<dl class="tuijian">
					<dt><img src="../img/tuijian5.png"></dt>
					<dd>
						<h1>泡大午温泉，享休闲时光</h1>
						<p>来欢乐谷，激情狂欢</p>
						<h2>￥165</h2>
					</dd>
				</dl>
				<dl class="tuijian">
					<dt><img src="../img/tuijian1.png"></dt>
					<dd>
						<h1>泡大午温泉，享休闲时光</h1>
						<p>来欢乐谷，激情狂欢</p>
						<h2>￥165</h2>
					</dd>
				</dl>
				<dl class="tuijian">
					<dt><img src="../img/tuijian1.png"></dt>
					<dd>
						<h1>泡大午温泉，享休闲时光</h1>
						<p>来欢乐谷，激情狂欢</p>
						<h2>￥165</h2>
					</dd>
				</dl>
			</div></section>
			<section class="rim_section">快乐短途</section>
			<section class="rim_section">快乐长假</section>
		</div></main>
	</div>