
	<link rel="stylesheet" href="../css/rim.css">
	<div class="wrap">
		<header class="header">
			<h1>周边游</h1>
			<span ui-sref="index"></span>
		</header>
		<main class="main" id="home" page-iscroll><div class="zhong">
			<dl class="zhong_box">
				<dt><img src="../img/zhong1.png"></dt>
				<dd>
					<h1>廊坊</h1>
					<p>廊坊历史悠久，是中外客商投资置业 的理想场所。</p>
					<p><span>热门</span><span>53km</span></p>
				</dd>
			</dl>
			<dl class="zhong_box">
				<dt><img src="../img/zhong2.png"></dt>
				<dd>
					<h1>天津</h1>
					<p>它坚守着千百年的民间艺术和豪放， 是一座个性之城</p>
					<p><span>热门</span><span>53km</span></p>
				</dd>
			</dl>
			<dl class="zhong_box">
				<dt><img src="../img/zhong3.png"></dt>
				<dd>
					<h1>长安</h1>
					<p>廊坊历史悠久，是中外客商投资置业 的理想场所。</p>
					<p><span>热门</span><span>53km</span></p>
				</dd>
			</dl>
			<dl class="zhong_box">
				<dt><img src="../img/zhong4.png"></dt>
				<dd>
					<h1>安阳</h1>
					<p>廊坊历史悠久，是中外客商投资置业 的理想场所。</p>
					<p><span>热门</span><span>53km</span></p>
				</dd>
			</dl>
			<dl class="zhong_box">
				<dt><img src="../img/zhong5.png"></dt>
				<dd>
					<h1>廊坊</h1>
					<p>廊坊历史悠久，是中外客商投资置业 的理想场所。</p>
					<p><span>热门</span><span>53km</span></p>
				</dd>
			</dl>
			<dl class="zhong_box">
				<dt><img src="../img/zhong1.png"></dt>
				<dd>
					<h1>廊坊</h1>
					<p>廊坊历史悠久，是中外客商投资置业 的理想场所。</p>
					<p><span>热门</span><span>53km</span></p>
				</dd>
			</dl>
		</div></main>
	</div>