@import url("reset.css");
html,body,.wrap{
	width:100%;
	height:100%;
	background:#e8e8e8;
	display:-webkit-flex;
	-webkit-flex-direction:column;
	overflow:hidden;

}

@font-face {
  	font-family:'iconfont';
  	src:url('../fonts/fontawesome-webfont.ttf') format("truetype"),
  		url('../fonts/fontawesome-webfont.woff') format("woff");
}


.main{
	-webkit-flex:1;
	overflow:hidden;
	.user{
		width:100;
		height:3.28rem;
		background:url(../img/user.png) no-repeat;
		background-size:100% 100%;
		position:relative;
		.xx{
			width:.41rem;
			height:.4rem;
			position:absolute;
			right:.83rem;
			top:.27rem;
			background:url(../img/xx.png) no-repeat;
			background-size:100% 100%;
		}
		.sz{
			width:.37rem;
			height:.4rem;
			position:absolute;
			right:.26rem;
			top:.27rem;
			background:url(../img/sz.png) no-repeat;
			background-size:100% 100%;
		}
		dl{
			width:100%;
			height:1.56rem;
			position:absolute;
			left:.22rem;
			top:.88rem;
			dt{
				width:1.56rem;
				height:1.56rem;
				float:left;
				margin-right:.4rem;
				img{
					width:100%;
					height:100%;
				}
			}
			dd{
				line-height:1.56rem;
				color:#fff;
				font-family:'iconfont';
			}
			dd:after{
				content:"\f105";
				padding:0 5px;
			}
		}
	}
	.list{
		width:100%;
		li{
			width:100%;
			height:.7rem;
			line-height:.7rem;
			margin-bottom:.2rem;
			background:url(../img/list1.png) no-repeat,#fff;
			background-size:.33rem .41rem;
			background-position:.24rem center;
			padding-left:.78rem;
			font-family:'iconfont';
			position:relative;
			font-size:.28rem;
			color:#848484;
			small{
				text-align:right;
				position:absolute;
				right:.64rem;
				font-size:.18rem;
			}
			.red{
				position:relative;
			}
			.red:after{
				content:"";
				display:block;
				width:5px;
				height:5px;
				background:red;
				border-radius:5px;
				position:absolute;
				right:-5px;
				top:-5px;
			}
		}
		li:after{
			content:"\f105";
			position:absolute;
			right:.26rem;
			color:#ccc;
		}
		.spc{
			color:#333;
		}
		.spc:after{
			color:#333;
		}
		li:nth-of-type(2){
			background:url(../img/list2.png) no-repeat,#fff;
			background-size:.33rem .31rem;
			background-position:.24rem center;
		}
		li:nth-of-type(3){
			background:url(../img/list3.png) no-repeat,#fff;
			background-size:.32rem .31rem;
			background-position:.24rem center;
		}
		li:nth-of-type(4){
			background:url(../img/list4.png) no-repeat,#fff;
			background-size:.33rem .34rem;
			background-position:.24rem center;
		}
		li:nth-of-type(5){
			background:url(../img/list5.png) no-repeat,#fff;
			background-size:.33rem .27rem;
			background-position:.24rem center;
		}
		li:nth-of-type(6){
			background:url(../img/list6.png) no-repeat,#fff;
			background-size:.33rem .31rem;
			background-position:.24rem center;
		}
		li:nth-of-type(7){
			background:url(../img/list7.png) no-repeat,#fff;
			background-size:.33rem .33rem;
			background-position:.24rem center;
		}
		li:nth-of-type(8){
			background:url(../img/list8.png) no-repeat,#fff;
			background-size:.33rem .33rem;
			background-position:.24rem center;
		}
		li:nth-of-type(9){
			background:url(../img/list9.png) no-repeat,#fff;
			background-size:.33rem .33rem;
			background-position:.24rem center;
		}
		li:nth-of-type(10){
			background:url(../img/list10.png) no-repeat,#fff;
			background-size:.33rem .34rem;
			background-position:.24rem center;
		}
	}
}

.footer{
	width:100%;
	height:.96rem;
	background:#e8e8e8;
	border-top:1px #ccc solid;
	a{
		width:25%;
		height:.96rem;
		float:left;
		font-family:'iconfont';
		text-align:center;
		color:#666666;
		font-size:.18rem;
	}
	.on{
		color:#3bbe7a;
	}
	a:before{
		content:"\f015";
		display:block;
		font-size:.5rem;
		padding-top:.1rem;
	}
	a:nth-of-type(2):before{
		content:"\f041";
	}
	a:nth-of-type(3):before{
		content:"\f14e";
	}
	a:nth-of-type(4):before{
		content:"\f007";
	}
}